<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width">
   <meta name="description" content="Simple AI Chat Bot Demo with Web Speech API">
   <meta name="author" content="Tomomi Imura  @girlie_mac">

   <title>Absyz AI Demo with Videobot</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="css/style.css">
 </head>

 <body>
   <section>
     <h1>Absyz AI Video Bot</h1>

     <button style="float: left;"><i class="fa fa-microphone"></i></button>
 <div style="margin-right:100px;margin-top: -75px;"><script type="text/javascript" src="//vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=7166139&js=1"></script><script type="text/javascript">AC_VHost_Embed(7166139,500,667,'',1,1, 2663924, 0,2,0,'c109092e7a2ce091856f0697f090b6d2',0);</script>
  </div>
  <br/>  
     <div>
         <p>You said: <em class="output-you">...</em></p>
         <p>Bot replied: <em class="output-bot">...</em></p>
     </div>
   </section>

   <script src="/socket.io/socket.io.js"></script>
   <script src="js/script.js"></script>
 </body>
</html>
